@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');
:root {
  --c-1: #f9f9f9;
  --c-2: #5f7fff;
  --c-2-dark: #506cd9;
  --c-3: #cacaca;
}

body {
  margin: 0;
  background-color: var(--c-1);
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  height: 5rem;

  box-shadow: 0px 0px 3px 0px var(--c-3);
}

#leftSide {
  display: flex;
  align-items: center;
}

#leftSide div#profilePicture {
  border-radius: 50%;
  height: 3.5rem;
  width: 3.5rem;
  background-color: pink;
  margin: 0rem 1rem 0rem 50rem;
  
  box-shadow: 2px 1px 5px 0px var(--c-3);

  background-image: url("https://avatars.githubusercontent.com/u/88311518?v=4");
  background-size: cover;
  background-position: center;
}

#leftSide div#name {
  font-family: Montserrat;
}

#rightSide a#githubButton {
  background-color: var(--c-2);
  border-radius: 1.5rem;
  padding: .5rem .8rem;
  margin: 0rem 50rem 0rem 0rem;
  color: white;
  font-family: Helvetica;
  font-weight: bold;
  font-size: .8rem;
  user-select: none;
  cursor: pointer;
}

#rightSide a#githubButton:hover {
  background-color: var(--c-2-dark);
}

#contentArea {
  margin: 3rem 50rem;
  max-width: 80rem;
  min-width: 20rem;
  height: 70rem;
  background-color: black;
}

#contentArea div.column {
  height: 3rem;
  background-color: white;
}

#contentArea div#messageArea {
  width: 35rem;
  height: 5rem
}
